<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinkupSharp" version="1.1.6.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="SocketHttpListener" version="1.0.0.30" targetFramework="net45" />
</packages>